@model Hinata.Models.LoginViewModel
<form>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <div class="form-group ">
        @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.UserNameOrEmail) })
        @Html.ValidationMessageFor(m => m.UserNameOrEmail, "", new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Password) })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
</form>